.top {
    grid-area: header;
    background-color: #132f47;
    overflow: hidden;
}
.map {
    position: relative;
    grid-area: main;
    background-color:  #ebf4fc;
}
#mapid {
    height: 82vh;
    width: 60vw;
    border-style: solid;
    border-width: 5px;
    border-color: #132f47;
    border-radius: 10px;
    z-index: 1;
}
#mapid .leaflet-popup-content-wrapper {
    background: #132f47;
    color: #ebf4fc;
    font-size: 15px;
    line-height: 22px;
    padding: 0;
    text-align: center;
}
#mapid .leaflet-popup-content {
    padding: 0;
    margin: 7px;
}
#mapid .leaflet-popup-tip {
    background-color: transparent;
    box-shadow: none;
}
#lf {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    z-index: 2;
    position: fixed;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #24282c;
    background-color: #24282c;
}
#large_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    order: 1;
}
#img_d {
    order: 2;
    color: #ebf4fc;
}
#exit {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
}
.object_focus {
    grid-area: sidebar;
    background-color: #ebf4fc;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    text-justify: distribute;
    text-align-last: left;
}
#description {
    max-width: 94%;
}
h3 {
    font-weight: bold;
    font-size: large;
    margin-bottom: 3%;
}
#photos {
    background-color: #ebf4fc;
    display: flex;
    overflow: auto;
    padding-top: 10px;
    padding-left: 1px;
}
#photos img {
    display: grid;
    grid-template-columns: auto;
    max-width: 20vw;
    max-height: 30vh;
    width: auto;
    height: auto;
    padding: 1px;
    border: 2px solid transparent;
}
#photos img:hover {
    border: 2px solid #586877;
    border-radius: 2px;
}
.container {
    background-color:  #ebf4fc;
    display: grid;
    grid-template-columns: 3fr minmax(0, 2fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "main sidebar";
}
.container div {
    padding: 10px;
}
* {
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
}
